.input-box input:focus~label,
.input-box input:valid~label {
    top: 15px !important;
}

.input-box label {
    transform: translateY(-50) !important;
    transition: .5s;
}

/* En tajua, miks ei toimi.. ei JS, eikä CSS */