@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 900px;
    min-height: 100vh;
    background-image: url('GKL-kuvat/abstract-vector-graphic-_X-Arthur.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: linear-gradient(180deg, rgba(0,30,50,1) 0%, rgba(0,50,50,1) 28%, rgba(0,50,50,0.8482268258426966) 48%, rgba(0,37,37,0.4) 73%, rgba(1,22,22,0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 30px;
    color: rgba(109, 230, 50, 1);
    user-select: none;
}

.icon{
    color: rgba(0, 174, 197, 1);
}

.navigaatio a {
    position: relative;
    font-size: 17px;
    color: rgba(109, 230, 50, 1);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigaatio a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 3px;
    background-color: rgba(109, 230, 50, 1);
    border-radius: 5px;
    transform-origin: bottom;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navigaatio a:hover::after {
    transform-origin: left;
    transform: scaleX(1);

}

.navigaatio .popUpLoginBtn {
    width: 130px;
    height: 40px;
    background: transparent;
    font-size: 17px;
    border: 2px solid rgba(109, 230, 50, 1);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: rgba(109, 230, 50, 1);
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
    transition: 0.5s;
}

.navigaatio .popUpLoginBtn:hover {
    background-color: rgba(109, 230, 50, 1);
    color: #162938;
    border: 2px solid rgba(0, 245, 138, 0.6);
}

.hexa-wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 83, 79, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(10% 100%, 90% 100%, 98% 50%, 90% 0%, 10% 0%, 2% 50% );
    border-top: 4px solid   rgba(57, 255, 20, 1);
    border-bottom: 4px solid  rgba(57, 255, 20, 1);
    box-sizing: border-box;
}

/* ----------v Hexa-border v----------*/
.hexa-wrapper::before,
.hexa-wrapper::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}

.hexa-wrapper::before {
  transform: rotate(8.3deg);
  border-right: 5px solid  rgba(57, 255, 20, 1);
  border-left: 5px solid   rgba(57, 255, 20, 1);
  width: 381px;
  height: 405px;
  top: 12px;
}

.hexa-wrapper::after {
  transform: rotate(-8.3deg);
  border-right: 5px solid  rgba(57, 255, 20, 1);
  border-left: 5px solid  rgba(57, 255, 20, 1);
  width: 382px;
  height: 400px;
  top: 18px;
}
/* ----------^ Hexa-border ^----------*/

.hexa-wrapper .form-box {
    width: 90%;
    height: 96%; /* Keskitystä varten */
    padding: 40px;
    z-index: 99;
}

.hexa-wrapper .form-box a {
    text-decoration: none;
    color: rgba(70, 240, 70, 1);
    z-index: 999;
}

.hexa-wrapper .form-box.login {
visibility: hidden;
}

.hexa-wrapper .icon-close {
    position: absolute;
    top: 15px;
    right: 55px;
    font-size: 30px;
    color: rgba(70, 240, 70, 1);
    border: 2px solid rgba(109, 230, 50, 1);
    border-radius: 6px;
    cursor: pointer;
    color: rgba(109, 230, 50, 1);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 999999;
}

.hexa-wrapper .icon-close:hover {
    background-color: rgba(109, 230, 50, 1);
    color: #162938;
    border: 2px solid rgba(0, 245, 138, 0.6);
}

.form-box {
    height: 100%;
}

.form-box .TXT {
    font-size: 25px;
    color: rgba(109, 230, 50, 1);
    user-select: none;
    text-align: center;
    top: 20px;
    padding: 12px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    top: 15px;
    z-index: 9999;
}

.input-box label {
    color: rgb(0, 145, 230);
    transform: translateY(4px);
    transition: 0.5s;
    z-index: 99;
    pointer-events: none; /* Estää labelia vastaanottamasta klikkejä */
    position: absolute;
    left: 10px;
    top: 0; /* Alkuperäinen arvo 0 */
    font-size: 1.0em;
}
 /* Tehty korjaamaan JS, joka ei toiminut tuntemattomasta syystä */
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -15px; /* Teksti nousee ylöspäin */
    font-size: 0.6em; /* Fontti kutistuu animaatiossa 60% alkuperäisestä koosta */
} /* Jostain syystä email label ei toimi halutulla tavalla. En keksi miksi.. */


.input-box input {
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid rgba(13, 112, 105, 0.75);
    border-top: 3px double rgba(22, 105, 100, 0.15);
    width: 100%;
    display: block;
    padding: 15px 1; /* Jostain kumman syystä vaatii että laitan tähän(1) sama tulos, vaikka laittasin 100, kunhan ei ole 0 */
    color: rgba(5, 223, 158, 1);
    font-size: 17px;
    z-index: 999;
}

.input-box input:focus, .input-box input:valid {
    outline: 0;
    border-bottom-color:chartreuse;
}
/*Jos laitan (,)        v-tohon, email ja password fieldit nousee ylös. */
.input-box input:focus + label span, .input-box input:valid + label span {
    transform: translateY(-30px);
    transition: transform 0.3s ease-in;
} /* Oikein tehty, ei toimi.... :/ */ 

.input-box label {
    position: absolute;
    top: 4px;
    cursor: text;
    font-weight: 600;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    bottom: 21px;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    font-size: 18px;
    background: transparent;
    border: 2px solid rgba(109, 230, 50, 1);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: rgba(109, 230, 50, 1);
    text-decoration: none;
    font-weight: 600;
    z-index: 9999;
}

.btn:focus {
    outline: 0;
    transform: scale(0.98);
}

.btn:hover {
    background-color: rgba(109, 230, 50, 1);
    color: #162938;
    border: 2px solid rgba(0, 245, 138, 0.6);
    transition: 0.5s;
}

.rememberCB {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 15px;
    display: flex;
    justify-content: space-between;
}

.rememberCB a:hover {
    text-decoration: underline;
}

.rememberCB label input {
    accent-color: rgba(109, 230, 50, 1);
    margin-right: 3px;
    transform: scale(1.2);
    cursor: pointer;
    z-index: 999999;
}

.login-register {
    font-size: 14.5px;
    text-align: center;
    font-weight: 600;
    margin: -5px 0 15px;
}

.login-register p a:hover {
    text-decoration: underline;
}