#input-box input:focus~label,
#input-box input:valid~label {
    top: 15px;
}

.input-box label {
    transform: translateY(-50px);
    transition: 0.5s;
}

/* Ei toiminu, kun pitää olla samassa CSS tiedostossa muun elementtiin liittyvän koodin kanssa. */
